.botao {
  margin-top: 24px;
}

.user-col {
  margin-left: 10px;
  border: 1px solid lightgray;
  border-radius: 2px;
  width: 40rem;
}

.statistic-col {
  border: 1px solid lightgray;
  border-radius: 2px;
}

.right-column {
  margin-left: 10px;
  width: 40rem;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

span {
  margin: 10px;
}

/*All <div> elements inside .user-col elements*/
.user-col div {
  display: flex;
  margin: 10px;
}

.statistic-col span {
  display: block;
}

p {
  font-size: 25px;
  margin: 15px;
  font-weight: bold;
}
