.botao {
  margin-top: 24px;
}

.estatistic-col,
.user-col {
  margin-left: 10px;
  border: 1px solid lightgray;
  border-radius: 2px;
  width: 40rem;
  display: inline-block;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

span {
  margin: 10px;
}

/*All <div> elements inside .user-col elements*/
.user-col div,
.estatistic-col div {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 10px;
  text-align: left;
}

p {
  font-size: 25px;
  margin: 15px;
  font-weight: bold;
}
